:root {
    --color-in: lightskyblue;
    --color-out: lightcoral;
    --color-progress: light-dark(lightgray, #444);
    --breath-duration: 5s;
    --session-duration: calc(5 * 60s);
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 10px;
    justify-content: start;
    display: flex;
    align-items: center;
}

#breath {
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);
    border-radius: 50%;
    position: relative; /* needed for ::before/::after */
    animation: breathe var(--breath-duration) cubic-bezier(0.51, 0, 0.52, 1) infinite
        alternate;
    will-change: transform;
}

@keyframes breathe {
    from {
        transform: scale(0.75);
    }
    to {
        transform: scale(1.25);
    }
}

#breath.paused {
    animation-play-state: paused;
}

#breath::before,
#breath::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
}

#breath::before {
    background: var(--color-out);
    animation: fade var(--breath-duration) ease-in-out infinite alternate;
}

#breath::after {
    background: var(--color-in);
    animation: fade var(--breath-duration) ease-in-out infinite alternate-reverse;
}

#breath.paused::before,
#breath.paused::after {
    animation-play-state: paused;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#progress {
    height: 100%;
    width: 100%;
    background: var(--color-progress);
    align-self: flex-start;
    transform: scaleX(0);
    transform-origin: left center;
    animation-play-state: paused;
    animation: fill-progress var(--session-duration) linear forwards;
}

#progress.paused {
    animation-play-state: paused;
}

@keyframes fill-progress {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
