:root {
    --color-in: lightskyblue;
    --color-out: lightcoral;
    --color-progress: light-dark(lightgray, #444);
    --color-foreground: light-dark(#444, #ddd);
    --color-breath-shadow: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.4));
    --breath-duration: 5s;
    --session-duration: calc(5 * 60s);
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-foreground);
    font-family: "Mulish", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 10px;
    justify-content: start;
    display: flex;
    align-items: center;
}

#breath {
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);
    border-radius: 50%;
    position: relative; /* needed for ::before/::after */
    animation: breathe var(--breath-duration) cubic-bezier(0.51, 0, 0.52, 1) infinite
        alternate;
    will-change: transform;
}

@keyframes breathe {
    from {
        transform: scale(0.75);
    }
    to {
        transform: scale(1.25);
    }
}

#breath.paused {
    animation-play-state: paused;
}

#breath::before,
#breath::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
}

#breath::before {
    background: var(--color-out);
    animation: fade var(--breath-duration) ease-in-out infinite alternate;
}

#breath::after {
    background: var(--color-in);
    animation: fade var(--breath-duration) ease-in-out infinite alternate-reverse;
}

#breath.paused::before,
#breath.paused::after {
    animation-play-state: paused;
}

/* soft drop shadow + subtle inset to give depth */
#breath {
    box-shadow: 0 0px 40px -10px var(--color-breath-shadow);
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#progress {
    height: 100%;
    width: 100%;
    background: var(--color-progress);
    align-self: flex-start;
    transform: scaleX(0);
    transform-origin: left center;
    animation-play-state: paused;
    animation: fill-progress var(--session-duration) linear forwards;
}

#progress.paused {
    animation-play-state: paused;
}

@keyframes fill-progress {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

#menu-toggle {
    position: fixed;
    top: 0;
    right: 0.5rem;
    z-index: 1100;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    opacity: 0.1;
}

#menu-toggle:hover {
    opacity: 1;
}

#settings {
    position: fixed;
    top: 4px;
    right: 5px;
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--color-breath-shadow);
    visibility: hidden;
    z-index: 1050;
    background: canvas;
    box-sizing: border-box;
}

#settings.open {
    visibility: visible;
}

#settings ul {
    display: flex;
    flex-direction: column;
}

#settings li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.7rem 0;
}

#settings label {
    display: block;
}

#settings input {
    box-sizing: border-box;
    border: 1px solid var(--color-progress);
    border-radius: 0.1rem;
    padding: 0.25rem 0.5rem;
    outline: none;
    width: 3rem;
    text-align: right;
}

#settings li.action {
    margin-top: 1rem;
    text-align: center;
    align-self: flex-end;
}

/* Remove number input spinners (arrows) */
/* Chrome, Safari, Edge, Opera */
#settings input[type="number"]::-webkit-inner-spin-button,
#settings input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#settings input[type="number"] {
    -moz-appearance: textfield;
}

#start-button {
    padding: 0.7em;
    border-radius: 0.1rem;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    background: var(--color-progress);
    color: var(--color-foreground);
    cursor: pointer;
}
